<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>177722841275-it8754j3sbnotk7ruqvpcdg8mevhb86m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177722841275-it8754j3sbnotk7ruqvpcdg8mevhb86m</string>
	<key>API_KEY</key>
	<string>AIzaSyBr-Q2PFcHv1bkR97dd7b-iEbg6WSuU4XQ</string>
	<key>GCM_SENDER_ID</key>
	<string>177722841275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chuen.com.PizzaDemo2</string>
	<key>PROJECT_ID</key>
	<string>pizzademo-30aa9</string>
	<key>STORAGE_BUCKET</key>
	<string>pizzademo-30aa9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:177722841275:ios:90202baf412e2c89</string>
	<key>DATABASE_URL</key>
	<string>https://pizzademo-30aa9.firebaseio.com</string>
</dict>
</plist>